:root {
    --white: #FEFEFE;
    --lightBlue: #DDEDF5;
    --medBlue: #6A8CA1;
    --darkBlue: #315F7A;
    --red: #E31742;
    --pink: #F6A8AC;
    --yellow: #FEC242;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    background-color: var(--white);
    background-image: radial-gradient(var(--pink) 2px, var(--white) 2px);
    background-size: 50px 50px;
    margin: 0;
    padding: 0;
}

/* Header */

h1 {
    color: var(--red);
    font-family: 'Stint Ultra Condensed', cursive;
    font-weight: 400;
    font-size: 72px;
    margin: 0;
}

#header-wrap {
    background-color: var(--lightBlue);
    padding: 20px 30px 5px;
}

header {
    width: 60vw;
    margin: auto;
}

#lace {
    height: 52px;
    background-image: url("./img/lace.svg");
}

/* Main */

#main-wrap {
    align-content: center;
    padding: 30px;
    width: 60vw;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}

#main-wrap img {
    max-width: 100%;
    border-radius: 30px;
    border: 10px solid var(--yellow);
}

#main-wrap figure {
    float: right;
    margin: 0 0 30px 30px;
    grid-area: 1 / 2 / 2 / 3;
}

#main-wrap figcaption, #main-wrap figcaption a {
    font-size: 14px;
    font-weight: 600;
    color: var(--yellow);
    text-align: right;
}

main {
    grid-area: 1 / 1 / 2 / 2;
}